/*
.project
.classpath
.settings
build/
.gradle/
.idea/
.DS_Store
.nb-gradle
*.iml
classes/
webapps/
out/

!doc/
!dev-rhine_contract-integration.1.2.0.9.0-20180611_103906-22/

!*.md
!src/
!lib/
!libs/
!.gitignore
!build.gradle
!gradle.properties
!WebContent/
!Web/
!file/*
